<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html><!--
Pathfinder Statblock Template
==============================
--><head>
	<title>{{ name|title|trim }}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
	<style type="text/css">
		body  {
			font-family: Nexus, Gandhi Sans, Arial, sans-serif;
			font-size: medium;
			text-align: left;
			color: black;
			background: white;
			font-weight: normal;
			margin: 0px;
			padding: 5px;
		}
		p {
			text-indent: -1em;
			margin-left: 1em;
			margin-top: 0;
			margin-bottom: 0;
		}
		p.xp {
			font-size: large;
		}
		p.spells {
			margin-left: 2em;
		}
		p.sa {
			text-indent: 1em;
		}
		table.section {
			width: 100%;
			font-size: small;
			font-weight: bold;
			border-top-width: 1px;
			border-top-color: black;
			border-top-style: solid;
			border-bottom-width: 1px;
			border-bottom-color: black;
			border-bottom-style: solid;
			margin-top: 2px;
			margin-bottom: 2px;
		}
		table.name {
			width: 100%;
			color: white;
			background: black;
			font-weight: bold;
		}
		td.name {
			font-variant: small-caps;
			padding-left: 5px;
			padding-right: 5px;
		}
	</style>
</head>

<body>
<table class="name">
	<tbody><tr>
		<td class="name">{{ name|upper|trim }}</td>
		{% if cr is defined %}
		<td class="name" align="right">CR {{ cr|trim }}</td>
		{% endif %}
	</tr>
</tbody></table>




<!-- gender, classes -->
{% if gender is defined or race is defined or class is defined %}
<p>{% if gender is defined %}{{ gender|title|trim }} {{ race|lower|trim }}{% if class is defined %} {{ class|lower|trim }}{% endif %}{% else %}{{ race|title|trim }}{% if class is defined %} {{ class|lower|trim }}{% endif %}{% endif %}</p>
{% endif %}

<!-- alignment, size, race -->
<p>{{ alignment|upper|trim }} {{ size|title|trim}} {{ type|lower|trim }}</p>

<!-- initiative, senses -->
<p>
<b>Init</b> {{ initiative|trim }};
<b>Senses</b>
<!-- Sense and Vision TYPE Abilities --><!-- End Sense TYPE Abilities -->
{% if senses is defined %}{{ senses|lower|trim }}; {% endif %}Perception {{ perception|trim }}
</p>

<!-- auras -->
{% if aura is defined %}
<p><b>Aura</b> {{ aura|lower|trim }}
{% endif %}

<table class="section">
  <tbody><tr>
    <td>DEFENSE</td>
  </tr>
</tbody></table>

<!-- armor class -->
<p>
<b>AC</b> {{ ac }}, <b>touch</b> {{ touch_ac }}, <b>flat-footed</b> {{ flatfooted_ac }} ({{ ac_breakdown }})
</p>

<!-- hit points -->
<b>hp</b> {{ hp }} ({{ hp_breakdown }})<!-- ModifyHP TYPE Abilities --><!-- End ModifyHP TYPE Abilities -->
<br>
<b>Fort</b> {{ fort }}, <b>Ref</b> {{ ref }}, <b>Will</b> {{ will }}<!-- SaveBonus TYPE Abilities -->{% if save_bonus is defined %}, {{ save_bonus }}{% endif %}<br>
<!-- End SaveBonus TYPE Abilities -->

<!--- defensive abilities, damager reduction, immune, resist, SR --->
<p>
{% if defensive_abilities is defined %}<b>Defensive Abilities</b> {{ defensive_abilities|lower|trim }}; {% endif %}{% if dr is defined %}<b>DR</b> {{ dr|lower|trim }};{% endif %}{% if immunities is defined %}<b>Immune</b> {{ immunities|lower|trim }}; {% endif %}{% if resistances is defined %}<b>Resist</b> {{ resistances|lower|trim }}; {% endif %}{% if sr is defined %}<b>SR</b> {{ sr }}{% endif %}
</p>

<!-- Weakness TYPE Abilities -->
{% if weaknesses is defined %}
<b>Weaknesses</b> {{ weaknesses|lower|trim }}
{% endif %}
<!-- End Weakness TYPE Abilities -->

<!-- Defensive Gear -->
<!-- End Defensive Gear -->

<table class="section">
  <tbody><tr>
    <td>OFFENSE</td>
  </tr>
</tbody></table>
<b>Speed</b> {{ speed|lower|trim }}<!-- ModifyMovement TYPE Abilities -->
<!-- End ModifyMovement TYPE Abilities -->

<!-- Attacks -->
<br>
{% if melee is defined %}
<b>Melee</b> {{ melee|trim }}<br>
{% endif %}
{% if ranged is defined %}
<b>Ranged</b> {{ ranged|trim }}<br>
{% endif %}
<!-- End Attacks -->

<!-- Space and Reach -->
<b>Space</b> {{ space|lower|trim }}; <b>Reach</b> {{ reach|lower|trim }}<br>

<!-- SpecialAttack TYPE Abilities -->
{% if special_attacks is defined %}
<b>Special Attacks</b> {{ special_attacks|trim }}
{% endif %}
<!-- End SpecialAttack TYPE Abilities -->

<!-- Innate Spell-Like Abilities -->
<!-- End Innate Spell-Like Abilities -->

<!-- Other Spell-Like Abilities -->
<!-- End Other Spell-Like Abilities -->

<!-- Domain Power Spell-Like Abilities -->

<!-- Known Spells -->
<!-- End Known Spells -->

<!-- Prepared Spells -->
<!-- End Prepared Spells -->

<!-- domains -->
<!-- End Domain list -->

<table class="section">
  <tbody><tr>
    <td>STATISTICS</td>
  </tr>
</tbody></table>

<b>Str</b> {{ str|trim }}, <b>Dex</b> {{ dex|trim }}, <b>Con</b> {{ con|trim }}, <b>Int</b> {{ int|trim }}, <b>Wis</b> {{ wis|trim }}, <b>Cha</b> {{ cha|trim }}
<br>

<b>Base Atk</b> {{ bab|trim }}; <b>CMB</b> {{ cmb|trim }}; <b>CMD</b> {{ cmd|trim }}
<br>

{% if feats is defined %}
<p>
<b>Feats</b> {{ feats|trim }}</p>
{% endif %}

{% if skills is definded %}
<p>
<b>Skills</b>
{{ skills }}
</p>
{% endif %}


<!-- Languages and Communicate TYPE Abilities -->
{% if languages is defined %}
<p><b>Languages</b> {{ languages|trim }}</p>
{% endif %}
<!-- End Languages Communicate TYPE Abilities -->

<!-- SpecialQuality TYPE Abilities -->
{% if sq is defined %}
<p>
<b>SQ</b> {{ sq|trim }}</p>
{% endif %}
<!-- End SpecialQuality TYPE Abilities -->

<!-- Animal Tricks TYPE Abilities -->
<!-- End Animal Tricks TYPE Abilities -->


<!-- Afflictions Start -->
<!-- Afflictions End -->

<!-- Equipment -->
{% if combat_gear is defined %}
<p>
<b>Combat Gear</b> {{ combat_gear|trim }}</p>
{% endif %}
{% if other_gear is defined %}
<p><b>Other Gear</b> {{ other_gear|trim }}</p>
{% endif %}
<!-- Equipment End -->

<!-- SpellBooks -->
<!-- End SpellBooks -->

</body></html>
