<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html><!--
Pathfinder Statblock Template
==============================
--><head>
	<title>{{ name|title|trim }}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
	<style type="text/css">
		body  {
			font-family: Nexus, Gandhi Sans, Arial, sans-serif;
			font-size: medium;
			text-align: left;
			color: black;
			background: white;
			font-weight: normal;
			margin: 0px;
			padding: 5px;
		}
		p {
			text-indent: -1em;
			margin-left: 1em;
			margin-top: 0;
			margin-bottom: 0;
		}
		p.xp {
			font-size: large;
		}
		p.spells {
			margin-left: 2em;
		}
		p.sa {
			text-indent: 1em;
		}
		table.section {
			width: 100%;
			font-size: small;
			font-weight: bold;
			border-top-width: 1px;
			border-top-color: black;
			border-top-style: solid;
			border-bottom-width: 1px;
			border-bottom-color: black;
			border-bottom-style: solid;
			margin-top: 2px;
			margin-bottom: 2px;
		}
		table.header {
			width: 100%;
			color: white;
			background: black;
			font-weight: bold;
		}
		td.name {
			font-variant: small-caps;
		}
		td {
			padding-left: 5px;
			padding-right: 5px;
		}
	</style>
</head>

<body>
<table class="header">
  <tbody><tr>
    <td class="name">{{ name|title|trim }}</td>
       {% if cr is defined %}
       <td class="name" align="right">CR {{ cr|trim }}</td>
       {% endif %}
  </tr>
</tbody></table>


<!-- gender, classes -->
{% if gender is defined or race is defined or class is defined %}
<p>{% if gender is defined %}{{ gender|title|trim }} {{ race|lower|trim }}{% if class is defined %} {{ class|lower|trim }}{% endif %}{% else %}{{ race|title|trim }}{% if class is defined %} {{ class|lower|trim }}{% endif %}{% endif %}</p>
{% endif %}

<!-- alignment, size, race -->
<p>{{ alignment|upper|trim }} {{ size|title|trim}} {{ type|lower|trim }}</p>

<!-- initiative, senses -->
<p>
<b>Init</b> {{ initiative|trim }};
<b>Senses</b>
<!-- Sense and Vision TYPE Abilities --><!-- End Sense TYPE Abilities -->
{% if senses is defined %}{{ senses|lower|trim }}; {% endif %}Perception {{ perception|trim }}
</p>

<!-- auras -->
{% if aura is defined %}
<p><b>Aura</b> {{ aura|lower|trim }}
{% endif %}

<table class="section">
  <tbody><tr>
    <td>DEFENSE</td>
  </tr>
</tbody></table>

<!-- armor class -->
<p>
<b>AC</b> {{ ac }}, <b>touch</b> {{ touch_ac }}, <b>flat-footed</b> {{ flatfooted_ac }} ({{ ac_breakdown }})
</p>

<!-- hit points -->
<b>hp</b> {{ hp }} ({{ hp_breakdown }})<!-- ModifyHP TYPE Abilities --><!-- End ModifyHP TYPE Abilities -->
<br>
<b>Fort</b> {{ fort }}, <b>Ref</b> {{ ref }}, <b>Will</b> {{ will }}<!-- SaveBonus TYPE Abilities -->{% if save_bonus is defined %}, {{ save_bonus }}{% endif %}<br>
<!-- End SaveBonus TYPE Abilities -->

<!--- defensive abilities, damager reduction, immune, resist, SR --->
<p>
{% if defensive_abilities is defined %}<b>Defensive Abilities</b> {{ defensive_abilities|lower|trim }}; {% endif %}{% if dr is defined %}<b>DR</b> {{ dr|lower|trim }};{% endif %}{% if immunities is defined %}<b>Immune</b> {{ immunities|lower|trim }}; {% endif %}{% if resistances is defined %}<b>Resist</b> {{ resistances|lower|trim }}; {% endif %}{% if sr is defined %}<b>SR</b> {{ sr }}{% endif %}
</p>

<!-- Weakness TYPE Abilities -->
{% if weaknesses is defined %}
<b>Weaknesses</b> {{ weaknesses|lower|trim }}
{% endif %}
<!-- End Weakness TYPE Abilities -->

<!-- Defensive Gear -->
<!-- End Defensive Gear -->

<table class="section">
  <tbody><tr>
    <td>OFFENSE</td>
  </tr>
</tbody></table>
<b>Speed</b> {{ speed|lower|trim }}<!-- ModifyMovement TYPE Abilities -->
<!-- End ModifyMovement TYPE Abilities -->

<!-- Attacks -->
<br>
{% if melee is defined %}
<b>Melee</b> {{ melee|trim }}<br>
{% endif %}
{% if ranged is defined %}
<b>Ranged</b> {{ ranged|trim }}<br>
{% endif %}
<!-- End Attacks -->

<!-- Space and Reach -->
<b>Space</b> {{ space|lower|trim }}; <b>Reach</b> {{ reach|lower|trim }}<br>

<!-- SpecialAttack TYPE Abilities -->
{% if special_attacks is defined %}
<b>Special Attacks</b> {{ special_attacks|trim }}
{% endif %}
<!-- End SpecialAttack TYPE Abilities -->

<!-- Innate Spell-Like Abilities -->
{% if sla_caster_level is defined %}
<p><b>Spell-Like Abilities</b>
(CL {{ sla_caster_level|lower|trim }}, concentration {{ sla_concentration|trim }}):
{% if spell_like_abilities is defined %}
{% for spell_like_ability in spell_like_abilities %}
<p class="spells"><b>{{ spell_like_ability['category']|lower|trim }}&mdash;</b><i>{{ spell_like_ability['slas']|trim }}</i></p>
{% endfor %}
{% endif %}
{% endif %}
<!-- End Innate Spell-Like Abilities -->

<!-- Other Spell-Like Abilities -->
<!-- End Other Spell-Like Abilities -->

<!-- Domain Power Spell-Like Abilities -->
{% if domain_powers is defined %}
<br><b>Domain Power Spell-Like Abilities</b>
{{ domain_powers|trim }}
{% endif %}

<!-- Known Spells -->
{% if spontaneous_spell_class is defined %}
<p><b>{{ spontaneous_spell_class|title|trim }} Spells Known</b>
(CL {{ spontaneous_caster_level|lower|trim }}, concentration {{ spontaneous_concentration|trim }}):
{% if spontaneous_9_spells is defined %}
<p class="spells"><b>9th ({{ spontaneous_9_slots|trim }}/day)&mdash;</b><i>{{ spontaneous_9_spells|trim }}</i></p>
{% endif %}
{% if spontaneous_8_spells is defined %}
<p class="spells"><b>8th ({{ spontaneous_8_slots|trim }}/day)&mdash;</b><i>{{ spontaneous_8_spells|trim }}</i></p>
{% endif %}
{% if spontaneous_7_spells is defined %}
<p class="spells"><b>7th ({{ spontaneous_7_slots|trim }}/day)&mdash;</b><i>{{ spontaneous_7_spells|trim }}</i></p>
{% endif %}
{% if spontaneous_6_spells is defined %}
<p class="spells"><b>6th ({{ spontaneous_6_slots|trim }}/day)&mdash;</b><i>{{ spontaneous_6_spells|trim }}</i></p>
{% endif %}
{% if spontaneous_5_spells is defined %}
<p class="spells"><b>5th ({{ spontaneous_5_slots|trim }}/day)&mdash;</b><i>{{ spontaneous_5_spells|trim }}</i></p>
{% endif %}
{% if spontaneous_4_spells is defined %}
<p class="spells"><b>4th ({{ spontaneous_4_slots|trim }}/day)&mdash;</b><i>{{ spontaneous_4_spells|trim }}</i></p>
{% endif %}
{% if spontaneous_3_spells is defined %}
<p class="spells"><b>3rd ({{ spontaneous_3_slots|trim }}/day)&mdash;</b><i>{{ spontaneous_3_spells|trim }}</i></p>
{% endif %}
{% if spontaneous_2_spells is defined %}
<p class="spells"><b>2nd ({{ spontaneous_2_slots|trim }}/day)&mdash;</b><i>{{ spontaneous_2_spells|trim }}</i></p>
{% endif %}
{% if spontaneous_1_spells is defined %}
<p class="spells"><b>1st ({{ spontaneous_1_slots|trim }}/day)&mdash;</b><i>{{ spontaneous_1_spells|trim }}</i></p>
{% endif %}
{% if spontaneous_0_spells is defined %}
<p class="spells"><b>0 (at will)&mdash;</b><i>{{ spontaneous_0_spells|trim }}</i></p>
{% endif %}
{% endif %}
<!-- End Known Spells -->

<!-- Prepared Spells -->
{% if prepared_spell_class is defined %}
<p><b>{{ prepared_spell_class|title|trim }} Spells Prepared</b>
(CL {{ prepared_caster_level|lower|trim }}, concentration {{ prepared_concentration|trim}}):
{% if prepared_9_spells is defined %}
<p class="spells"><b>9th&mdash;</b><i>{{ prepared_9_spells|trim }}</i></p>
{% endif %}
{% if prepared_8_spells is defined %}
<p class="spells"><b>8th&mdash;</b><i>{{ prepared_8_spells|trim }}</i></p>
{% endif %}
{% if prepared_7_spells is defined %}
<p class="spells"><b>7th&mdash;</b><i>{{ prepared_7_spells|trim }}</i></p>
{% endif %}
{% if prepared_6_spells is defined %}
<p class="spells"><b>6th&mdash;</b><i>{{ prepared_6_spells|trim }}</i></p>
{% endif %}
{% if prepared_5_spells is defined %}
<p class="spells"><b>5th&mdash;</b><i>{{ prepared_5_spells|trim }}</i></p>
{% endif %}
{% if prepared_4_spells is defined %}
<p class="spells"><b>4th&mdash;</b><i>{{ prepared_4_spells|trim }}</i></p>
{% endif %}
{% if prepared_3_spells is defined %}
<p class="spells"><b>3rd&mdash;</b><i>{{ prepared_3_spells|trim }}</i></p>
{% endif %}
{% if prepared_2_spells is defined %}
<p class="spells"><b>2nd&mdash;</b><i>{{ prepared_2_spells|trim }}</i></p>
{% endif %}
{% if prepared_1_spells is defined %}
<p class="spells"><b>1st&mdash;</b><i>{{ prepared_1_spells|trim }}</i></p>
{% endif %}
{% if prepared_0_spells is defined %}
<p class="spells"><b>0 (at will)&mdash;</b><i>{{ prepared_0_spells|trim }}</i></p>
{% endif %}
{% endif %}
<!-- End Prepared Spells -->

<!-- domains -->
{% if domain is defined %}
<p class="spells">
<b>D</b> Domain spell;
<b>Domains</b>
{{ domain|trim }}</p>
{% endif %}
<!-- End Domain list -->

{% if before_combat_tactics is defined or during_combat_tactics is defined or morale is defined %}
<table class="section">
  <tbody><tr>
    <td>TACTICS</td>
  </tr>
</tbody></table>
{% if before_combat_tactics is defined %}
<p><b>Before Combat</b> {{ before_combat_tactics }}</p>
{% endif %}
{% if during_combat_tactics is defined %}
<p><b>During Combat</b> {{ during_combat_tactics }}</p>
{% endif %}
{% if morale is defined %}
<p><b>Morale</b> {{ morale }}</p>
{% endif %}
{% endif %}

<table class="section">
  <tbody><tr>
    <td>STATISTICS</td>
  </tr>
</tbody></table>

<b>Str</b> {{ str|trim }}, <b>Dex</b> {{ dex|trim }}, <b>Con</b> {{ con|trim }}, <b>Int</b> {{ int|trim }}, <b>Wis</b> {{ wis|trim }}, <b>Cha</b> {{ cha|trim }}
<br>

<b>Base Atk</b> {{ bab|trim }}; <b>CMB</b> {{ cmb|trim }}; <b>CMD</b> {{ cmd|trim }}
<br>

{% if feats is defined %}
<p>
<b>Feats</b> {{ feats|trim }}</p>
{% endif %}

{% if skills is defined %}
<p>
<b>Skills</b>
{{ skills }}
</p>
{% endif %}


<!-- Languages and Communicate TYPE Abilities -->
{% if languages is defined %}
<p><b>Languages</b> {{ languages|trim }}</p>
{% endif %}
<!-- End Languages Communicate TYPE Abilities -->

<!-- SpecialQuality TYPE Abilities -->
{% if sq is defined %}
<p>
<b>SQ</b> {{ sq|trim }}</p>
{% endif %}
<!-- End SpecialQuality TYPE Abilities -->

<!-- Animal Tricks TYPE Abilities -->
<!-- End Animal Tricks TYPE Abilities -->


<!-- Afflictions Start -->
<!-- Afflictions End -->

<!-- Equipment -->
{% if combat_gear is defined %}
<p>
<b>Combat Gear</b> {{ combat_gear|trim }}</p>
{% endif %}
{% if other_gear is defined %}
<p><b>Other Gear</b> {{ other_gear|trim }}</p>
{% endif %}
<!-- Equipment End -->

<!-- SpellBooks -->
<!-- End SpellBooks -->

{% if special_abilities is defined %}
<table class="section">
  <tbody><tr>
    <td>SPECIAL ABILITIES</td>
  </tr>
</tbody></table>
{% for special_ability in special_abilities %}
<table class="header">
  <tbody><tr>
    <td>{{ special_ability['name']|title|trim }}</td>
  </tr>
</tbody></table>
<p>{{ special_ability['desc']|trim }}</p>
{% endfor %}
{% endif %}
</body></html>
